################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
Core/obj/
Core.Tests/bin/
Core.Tests/obj/
Core/bin/